.button{
  font-size: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 200%;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease;
}
.background{
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 200px 0;
  text-align: center;
}
body{
  background: #161616;
}